.step {
  width: 140px;
  height: 140px;
  border: 5px solid var(--blue);
}

@media screen and (max-width: 992px) {
  .step {
    width: 94px;
    height: 94px;
    border: 5px solid var(--blue);
  }
}
