@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "./variables.css";
@import "./text.css";
@import "./cookie.css";

/* .underline::after{
  content: "";
  position: absolute;
  width: 100%;
} */

.team-stroke {
  position: relative;
}

.team-stroke::after {
  background-size: cover;
  height: 7px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-image: url(../assets/images/teamStroke.svg);
}

body {
  /* white-space: nowrap; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: var(--light-grey);
  line-height: 1.2;
  user-select: none;
  color: var(--black);
}

#root {
  overflow-x: hidden;
}

.app {
  position: relative;
  height: fit-content;
  z-index: 1;
}

a {
  cursor: pointer !important;
}

/* ///app size */

.app {
  width: 1218px;
}

@media screen and (min-width: 1400px) and (max-width: 1550px) {
  .app {
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .app {
    width: 1000px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .app {
    width: 992px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .app {
    width: 768px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .app {
    width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .app {
    width: 100vw;
  }

  .app {
    padding: 0 2.3rem;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 360px) {
  .app {
    padding: 0 0.7rem;
  }
}

/* /// */

/* /// */
/* ///header-margins */
.h-1,
.h-2,
.h-3,
.h-4,
.h-6,
.dialog {
  margin-top: 5rem;
  padding-top: calc(calc(4.5rem + 46px) + 3rem);
  padding-bottom: 3rem;
  margin-bottom: 0;
  font-weight: 700;
}

.start-work {
  margin-top: 15rem;
}

.h-5 {
  padding-top: calc(calc(4.5rem + 46px) + 3rem);
  margin-top: 12rem;
  margin-bottom: 12rem;
  white-space: nowrap;
  font-weight: 700;
}

.h-6 {
  padding-bottom: 6rem;
}

.h-4 {
  padding-bottom: 7rem;
}

.phone-form__main {
  margin-top: 8.5rem;
}

@media screen and (max-width: 576px) {
  .h-1,
  .h-2,
  .h-3,
  .h-4,
  .h-5,
  .h-6 {
    margin-top: 0;
    padding-bottom: 1.25rem;
  }

  .h-1,
  .h-2,
  .h-4,
  .h-6 {
  }

  .dialog {
    padding-top: 0;
    margin-top: 10rem;
  }

  .start-work {
    margin-top: 8rem;
  }

  .h-5 {
    margin-bottom: 8rem;
  }

  .h-6 {
    padding-bottom: 3rem;
    white-space: nowrap;
  }

  .h-3,
  .h-5 {
    white-space: nowrap;
  }

  .h-5 {
    margin-left: -5% !important;
    width: 110% !important;
  }
}

/* ///inputs/buttons */
.input:focus {
  outline: none;
}

.input_phone {
  /* letter-spacing: -0.175em; */
  font-family: "Azeret Mono", monospace;
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}

.input_phone::placeholder {
  opacity: 0.5 !important;
}

.input-phone-wrapper {
  position: relative;
}

/* .input-phone-wrapper::after{
  font-family: "Azeret Mono", monospace;
  content: "+7(909)000 00 00";
  position: absolute;
  font-size: 1.5rem;
  opacity: 0.5;
  left:7%;
  top: 25%;
  z-index: 1;
  color: var(--blue);
} */

.input_wrong {
  box-shadow: 0px 0px 3px 1px var(--red);
}

.input_not_wrong {
  box-shadow: 0px 0px 3px 1px var(--blue);
}

/* ///call__btn */
.btn_call {
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  border: 3px solid var(--blue);
  color: var(--white) !important;
  transition: 0.5s;
}

.btn_call:hover {
  background-color: var(--light-blue) !important;
  border: 3px solid var(--light-blue);
}

.btn_call:disabled:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}
/* /// */

/* ///contact__btn */
.btn_contact {
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 60px;
}

/* /// */

/* ///card__btn */
.card__btn {
  border-radius: 30px;
  font-weight: 600;
}
/* /// */

/* ///btn-switch */

/* /// */

/* ///btn-show */
.btn-show__icon {
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: var(--white);
  cursor: pointer;
  position: relative;
  background-position: center 55%;
  cursor: pointer;
  z-index: 1;
}

.btn-show {
  cursor: pointer;
  position: relative;
}

.btn-show__icon_closed {
  background-image: url("../assets/icons/arrowDownBlue.png");
}

.btn-show__icon_shown {
  background-image: url("../assets/icons/cross.svg");
}

.btn-show_shown::after,
.btn-show_closed::after {
  top: -3px;
  z-index: 0;
  left: -3px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: linear-gradient(to right, #577bfa 0%, rgba(217, 217, 217, 0) 70%);
  /* border: 2px solid var(--blue); */
  content: "";
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes btn-show-show-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes btn-show-close-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.btn-show_shown::after {
  animation-name: btn-show-show-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.btn-show_closed::after {
  animation-name: btn-show-close-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.btn-show__text {
  user-select: none;
}
/* /// */

/* ///btn-slide */
.btn-slide {
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  background-position: center 55%;
  cursor: pointer;
  z-index: 1;
}

.btn-slide__icon {
  top: 0%;
  left: 0%;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--white);
  content: "";
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-repeat: no-repeat;
}

.btn-slide-right .btn-slide__icon {
  background-position: 55% center;
  background-image: url("../assets/images/btnSlide/arrowRight.svg");
}

.btn-slide-left .btn-slide__icon {
  background-image: url("../assets/images/btnSlide/arrowLeft.svg");
  background-position: 42% center;
}

.btn-slide-right::before, .btn-slide-left::before {
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(to right, #577bfa 0%, rgba(217, 217, 217, 0) 70%);
  content: "";
  top: -7%;
  left: -7%;
  width: 114%;
  height: 114%;
}

.btn-slide-left::before{
  transform: rotate(30deg);
}

.btn-slide-right::before{
  transform: rotate(-45deg);
}

@keyframes btn_slide {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-slide:hover,
.btn-slide:focus {
  border: none !important;
  outline: none !important;
}

.btn-slide:focus::before {
  /* animation-name: btn_slide; */
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@media screen and (max-width: 992px) {
  .btn-slide {
    width: 60px;
    height: 60px;
  }
}

/* .btn-slide {
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  background-position: center 55%;
  cursor: pointer;
  z-index: 1;
}

.btn-slide__icon{
  width: 100%;
  height: 100%;
  background: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
}

.btn-slide__stick {
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 7px);
  width: 20px;
  border-radius: 30px;
  height: 5px;
  background-color: var(--blue);
  transform-origin: right;
}

.btn-slide__stick:nth-child(1){
  transform: translateY(60%) rotate(45deg);
}

.btn-slide__stick:nth-child(2){
  transform:  rotate(-45deg);
}

.btn-slide-left>.btn-slide__icon{
  transform: rotate(180deg);
}

.btn-slide-left>.btn-slide__icon>.btn-slide__stick{
  top: calc(52% - 5px);
  right: calc(40% - 5px);
}

.btn-slide::before {
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(to right, #577bfa 0%, rgba(217, 217, 217, 0) 70%);
  content: "";
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  width: 114%;
  height: 114%;
  top: -8%;
  left: -8%;
}

@keyframes btn_slide_left_anim{
  100%{
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 992px) {
  .btn-slide {
    width: 60px;
    height: 60px;
  }
} */
/* /// */
/* /// select */

/* /// */

/* ///background/color */
.background-blue {
  background-color: var(--blue);
}
.background-light-blue {
  background-color: var(--light-blue);
}
.background-turq {
  background-color: var(--turq);
}
.background-black {
  background-color: var(--black);
}
.background-grey {
  background-color: var(--grey);
}
.background-red {
  background-color: var(--red);
}
.background-green {
  background-color: var(--green);
}
.background-white {
  background-color: var(--white);
}
.background-light-grey {
  background-color: var(--light-grey);
}

.color-blue {
  color: var(--blue);
}
.color-light-blue {
  color: var(--light-blue);
}
.color-turq {
  color: var(--turq);
}
.color-black {
  color: var(--black);
}
.color-grey {
  color: var(--grey);
}
.color-red {
  color: var(--red);
}
.color-green {
  color: var(--green);
}
.color-white {
  color: var(--white);
}
.color-light-grey {
  color: var(--light-grey);
}
/* /// */

/* ///border-radius */
.border-r-100per {
  border-radius: 100%;
}

.border-r-60 {
  border-radius: 60px;
}

.border-r-50 {
  border-radius: 50px;
}

.border-r-40 {
  border-radius: 40px;
}

.border-r-30 {
  border-radius: 30px;
}

.border-r-20 {
  border-radius: 20px;
}
/* /// */
