@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.css";
@import "./text.css";
@import "./header.css";
@import "./dialog.css";
@import "./servicesPrices.css";
@import "./slider.css";
@import "./getService.css";
@import "./tickets.css";
@import "./disclosure.css";
@import "./footer.css";
@import "./phoneForm.css";
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: var(--light-grey);
  line-height: 1.2;
}

.App {
  width: 1300px;
  position: inherit;
}

/* ///app size */
@media screen and (min-width: 1650px) {
  .App {
    width: 1350px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1650px) {
  .App {
    width: 1400px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .App {
    width: 1200px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .App {
    width: 992px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .App {
    width: 768px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .App {
    width: 576px;
  }
}

@media screen and (max-width: 576px) {
}
/* /// */

/* ///background gradient */
.background-1,
.background-2,
.background-3,
.background-4,
.background-5 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  background: radial-gradient(
      22.26% 34.22% at 19.36% 53.62%,
      #97cbf8 0%,
      rgba(217, 217, 217, 0) 100%
    ),
    radial-gradient(
      28.15% 50.66% at 100% 37.64%,
      #577bfa 0%,
      rgba(217, 217, 217, 0) 100%
    );
}

.background-1 {
  top: 0;
}
.background-2 {
  top: 100vh;
}
.background-3 {
  top: 200vh;
}
.background-4 {
  top: 300vh;
}
.background-5 {
  top: 400vh;
}
/* /// */

/* ///inputs/buttons */
.input:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  border: 3px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
}

.btn_active {
  color: var(--white);
  background-color: var(--blue);
}

button:focus {
  box-shadow: none !important;
  outline: none;
}

.input_phone {
  border-radius: 30px;
  border: none;
}

/* ///contact__btn */
.btn_contact {
  font-weight: 600;
  border-radius: 60px;
}
/* /// */

/* ///card__btn */
.card__btn {
  border-radius: 30px;
  font-weight: 600;
}
/* /// */

/* ///btn-switch */
.switch__btn {
  border-radius: 40px;
  font-weight: 600;
  margin-left: 2rem;
}

.switch__btn:first-child {
  margin-left: 0;
}
/* /// */

/* ///btn-show */
.btn-show__icon {
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background-position: center 55%;
  cursor: pointer;
}

.btn-show {
  cursor: pointer;
}

.btn-show__icon_closed {
  background-image: url("../assets/icons/arrowDownBlue.png");
}

.btn-show__icon_shown {
  background-image: url("../assets/icons/cross.svg");
}
/* /// */

/* ///btn-slide */
.btn-slide {
  z-index: 2;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.btn-slide-right {
  background-position: 55% center;
  background-image: url("../assets/icons/arrowRightBlue.png");
}

.btn-slide-left {
  background-position: 40% center;
  background-image: url("../assets/icons/arrowLeftBlue.png");
}

@keyframes btn-slide-right-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes btn-slide-left-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.btn-slide-left::after,
.btn-show__icon::after,
.btn-slide-right::after {
  top: 0;
  left: 0;
  border-radius: 100%;
  position: absolute;
  width: inherit;
  height: inherit;
  border-left: 2px solid var(--blue);
  border-top: 2px solid var(--blue);
  content: "";
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-slide-left::after {
  animation-name: btn-slide-left-animation;
  border-left: 2px solid var(--blue);
  border-top: 2px solid var(--blue);
}

.btn-slide-right::after {
  animation-name: btn-slide-right-animation;
  border-left: 2px solid var(--blue);
}
/* ///*/

/* ///background/color */
.background-blue {
  background-color: var(--blue);
}
.background-light-blue {
  background-color: var(--light-blue);
}
.background-turq {
  background-color: var(--turq);
}
.background-black {
  background-color: var(--black);
}
.background-grey {
  background-color: var(--grey);
}
.background-red {
  background-color: var(--red);
}
.background-green {
  background-color: var(--green);
}
.background-white {
  background-color: var(--white);
}
.background-light-grey {
  background-color: var(--light-grey);
}

.color-blue {
  color: var(--blue);
}
.color-light-blue {
  color: var(--light-blue);
}
.color-turq {
  color: var(--turq);
}
.color-black {
  color: var(--black);
}
.color-grey {
  color: var(--grey);
}
.color-red {
  color: var(--red);
}
.color-green {
  color: var(--green);
}
.color-white {
  color: var(--white);
}
.color-light-grey {
  color: var(--light-grey);
}
/* /// */

/* ///border-radius */
.border-r-100per {
  border-radius: 100%;
}

.border-r-60 {
  border-radius: 60px;
}

.border-r-50 {
  border-radius: 50px;
}

.border-r-40 {
  border-radius: 40px;
}

.border-r-20 {
  border-radius: 20px;
}
/* /// */

/* ///how-we-work */
.how-we-work__body {
  height: 30rem;
}
/* /// */
