/* .footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.footer__founder {
  border-bottom: 3px solid var(--white);
  width: fit-content;
}

.footer__founder:hover {
  color: var(--white);
  text-decoration: none !important;
}

.footer__documents a {
  color: var(--white);
  font-family: Montserrat;
}

@media screen and (max-width: 576px) {
  .footer__phone {
    font-size: 2.5rem;
  }
} */
