.header {
  z-index: 2;
  position: relative;
}

.header__phone{
  background-color: var(--blue);
  background-image: url("../assets/images/phone.svg");
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 1px var(--blue);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-position: center;
}

.header-small__overflow{
  width: 100vw;
  overflow-x: scroll;
}

.header-small__links{
  width: 200%;
}

.header-small__link{
}

.burger {
  width: 35px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}




.burger__string {
  height: 4px;
  width: 100%;
  background-color: var(--blue);
}

.header__link {
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.burger__string {
  transition: 0.25s;
}

.burger__closed > .burger__string:nth-child(1) {
  transform-origin: left;
  transform: translateY(-2px) translateX(5px) rotate(45deg);
}

.burger__closed > .burger__string:nth-child(2) {
  opacity: 0;
}

.burger__closed > .burger__string:nth-child(3) {
  transform-origin: left;
  transform: translateY(0px) translateX(5px) rotate(-45deg);
}

.header__link:hover {
  box-shadow: 0px 1px 0px 0px var(--black);
}

.header__link:first-child {
  margin-left: 0 !important;
}
