/* ///switch */
.switch-small__btn{
}

.switch-small__btn_inactive{
  transition: 1s;
  width: 40px;
  height: 40px;
}

@keyframes switch-small__btn_anim{
  0%{
    flex-grow: 0;
  }
  100%{
    flex-grow: 0.75;
  }
}

.switch-small__btn_active{
  animation-name: switch-small__btn_anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/* /// */
@keyframes width_animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.how-we-work__header::after{
  content: "";
  background-image: url('../assets/images/underlines/hww.svg');
  height: 25px;
  position: absolute;
  bottom: -25px;
  left: 0;
  background-repeat: no-repeat;
  width: 0;
  animation-name: width_animation;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.how-we-work__header{
  position: relative;
}

@media screen and (max-width: 992px) {
  .how-we-work__header::after{
    top: 1.1em;
    bottom: unset;
  }
}

.hwwWidget {
  height: 30rem;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.how-we-work__block {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

/* ///check */
.check {
  position: relative;
  overflow: hidden;
  height: 100%;
}

@keyframes check__list_animation {
  0% {
    top: -100%;
  }
  100% {
    top: -20%;
  }
}

.check__list {
  animation-name: check__list_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 30px;
  position: absolute;
  width: 70%;
  height: 110%;
  right: 15%;
  transform: rotate(10deg);
}

@media screen and (min-width: 996px) and (max-width: 1200px) {
  .check__list {
    width: 90%;
    left: 10%;
  }
}

.check__point {
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 0;
}

.check__circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid var(--black);
}

.check__text {
  width: calc(100% - 36px);
  margin-left: 18px;
}

.check__circle,
.check__text {
  position: relative;
}

.check__text_0::before,
.check__text_1::before,
.check__text_2::before,
.check__text_3::before,
.check__text_4::before,
.check__text_5::before {
  animation-name: width_animation;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  background-size: cover;
  width: 0;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: rotate(-5deg);
}

.check__text_0::before {
  top: -50%;
  height: 150%;
  background-image: url("../assets/images/check/string1.svg");
}
.check__text_1::before {
  top: -50%;
  background-image: url("../assets/images/check/string2.svg");
}
.check__text_2::before {
  top: -50%;
  background-image: url("../assets/images/check/string3.svg");
}
.check__text_3::before {
  background-image: url("../assets/images/check/string4.svg");
}
.check__text_4::before {
  background-image: url("../assets/images/check/string5.svg");
}
.check__text_5::before {
  top: -50%;
  background-image: url("../assets/images/check/string6.svg");
}

.check__circle_0::before,
.check__circle_1::before,
.check__circle_2::before,
.check__circle_3::before,
.check__circle_4::before,
.check__circle_5::before {
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  bottom: 5px;
  content: "";
  position: absolute;
  background-size: cover;
  width: 20px;
  height: 19px;
}

.check__circle_0::before {
  background-image: url("../assets/images/check/mark1.svg");
}

.check__circle_1::before {
  background-image: url("../assets/images/check/mark2.svg");
}

.check__circle_2::before {
  background-image: url("../assets/images/check/mark3.svg");
}

.check__circle_3::before {
  background-image: url("../assets/images/check/mark4.svg");
}

.check__circle_4::before {
  left: 5px;
  background-image: url("../assets/images/check/mark5.svg");
}

.check__circle_5::before {
  left: 5px;
  background-image: url("../assets/images/check/mark6.svg");
}
/* /// */

/* ///roadmap */
.roadmap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes roadmap__list_animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes roadmap__main_animation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.roadmap__list {
  animation-name: roadmap__list_animation;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  top: -100%;
  animation-fill-mode: forwards;
  z-index: 1;
  width: 70%;
  height: 70%;
  right: 0;
  position: absolute;
  box-shadow: -5px 5px 5px 1px var(--grey);
}

.roadmap__main {
  animation-name: roadmap__main_animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  bottom: -100%;
  width: 78%;
  height: 85%;
  left: 10%;
  position: absolute;
}

.roadmap__stroke {
  width: 100%;
  height: 1em !important;
  background-color: var(--grey);
  border-radius: 40px;
}

@keyframes roadmap__text_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--blue);
  }
  100% {
    opacity: 1;
    color: var(--black);
  }
}

@keyframes becomeInvisible {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes roadmap__circle_border_animation {
  0% {
    opacity: 0;
    transform: rotate(0);
    border-top-color: var(--blue);
    border-right-color: var(--blue);
  }
  100% {
    opacity: 1;
    border-left-color: var(--blue);
    transform: rotate(360deg);
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
    border-right-color: var(--blue);
  }
}

@keyframes roadmap__circle_arrow_animation {
  0% {
    background-color: var(--grey);
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: transparent;
    background-image: url("../assets/icons/arrowDownBlue.png");
  }
}

@keyframes roadmap__key_animation {
  0% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}

.roadmap__step {
  height: 2rem;
  margin-top: 1rem;
  position: relative;
}

.roadmap__step::after {
  animation-name: roadmap__key_animation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--blue);
  left: 16px;
  top: 100%;
}

.roadmap__circle {
  flex-basis: 32px;
  height: 32px;
  position: relative;
}

.roadmap__circle::after {
  animation-name: roadmap__circle_border_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border: 3px solid transparent;
}

.roadmap__circle::before {
  animation-name: roadmap__circle_arrow_animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  left: 1.5px;
  top: 1.5px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.roadmap__text {
  height: 100%;
  position: relative;
  margin-left: 16px;
  flex-basis: calc(100% - 48px);
}

.roadmap__text::after {
  animation-name: roadmap__text_animation;
  animation-duration: 2s;
  color: transparent;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 1em;
  left: 0;
  top: calc(50% - 0.5em);
  content: "";
}

.roadmap__text::before {
  animation-name: becomeInvisible;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 1em;
  top: calc(50% - 0.5em);
  background-color: var(--grey);
  border-radius: 40px;
}

@media screen and (max-width: 576px) {
  .check__list {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 110%;
    left: 12%;
    top: -25%;
    transform: rotate(10deg);
  }

  .hwwWidget {
    min-height: 35rem;
  }
}
