.services{
  position: relative;
}

.services__circle{
  margin-left: 25px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.services__circle:first-child{
  margin-left: 0;
}

.services__circle_inactive{
  opacity: 0.5;
  background: var(--light-blue);
}

.services__circle_active{
  background: var(--blue);
}

@media screen and (min-width: 1200px) {
  .services__cards > .col-xl-4{
    flex: 0 0 30%;
  }
}

.card {
  height: fit-content;
  transition: height 1s;
  border: none;
}

.card__header {
  min-height: 3em;
  font-size: 2.25rem;
}

.card__header p{
  margin-bottom: 0;
  white-space: nowrap;
}

.card__text{
  height: 3em;
}

.card__price {
  font-size: 3.125rem;
}

@keyframes anim {
  0%{
    opacity: 0;
    transform:translateY(-100%)
  } 
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.card__annotation{
  transition: all 3s;
}

.card__annotation_closed{
  opacity: 0;
}

.card__annotation_shown{
  animation-name: anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 576px) {
  .card__header{
    font-size: 2rem;
  }
}


