/* .slider {
}

.card-slider-small {
  position: relative;
  width: 98vw;
  height: 320px;
  margin-left: calc(calc(100vw - 100%) / -2);
}

.card-slider-small__content {
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-gap: 15px;
  padding: 0 30px;
  width: 100vw;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.card-slider-small__card {
  background: var(--white);
  border-radius: 20px;
}

.card-slider-small__card {
}

.card-slider-small__card:first-child {
  margin-left: 0;
}

.card-slider-small__btn {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--white);
  border: 1px solid var(--grey);
  top: calc(50% - 18px);
  background-position: center;
  background-repeat: no-repeat;
}

.card-slider-small__btn_left {
  background-image: url("../assets/icons/arrowLeftBlue.png");
  left: 2%;
}

.card-slider-small__btn_right {
  background-image: url("../assets/icons/arrowRightBlue.png");
  right: 2%;
}

.card-slider-small__btn:active,
.card-slider-small__btn:focus {
  border: 1px solid var(--grey);
}


@keyframes slider__text_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider__block {
  width: 50%;
  height: fit-content;
  position: absolute;
  left: calc(52% + 4rem);
}

.slider__text {
  animation-name: slider__text_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.slider__title {
  font-size: 2rem;
}

.card-slider {
  position: relative;
  width: 52%;
  height: fit-content;
}

.card-slider__header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.slider__body {
  height: 100%;
}

.card-slider__name {
  white-space: nowrap;
}

.card-slider__avatar {
  width: 78px;
  height: 78px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-slider__region,
.card-slider__name {
  width: fit-content;
}

.card-slider__text{
  height: fit-content;
  margin-top: 25%;
}

.card-slider__main-card {
  height: 28rem;
  box-shadow: 0px 5px 36px rgba(0, 0, 0, 0.15);
}

.card-slider__left-card {
  position: absolute;
  width: 90%;
  top: 3%;
  height: 88%;
  padding: 3rem 2.1rem;
}

.card-slider__right-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
}

.card-slider__left-card {
  left: -6%;
}

@media screen and (max-width: 1200px) {
  .card-slider {
    width: 70%;
  }

  .slider__block {
    position: inherit;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .slider__block {
    width: 100%;
  }

  .card-slider {
    width: 100%;
  }

  .card-slider__text{
    margin-top: calc(156px + 2rem);
  }

  .card-slider__left-card {
    left: -1rem !important;
    bottom: 5%;
    top: 5%;
    width: calc(100% - 1.5rem);
    height: 90%;
  }
}

@media screen and (max-width: 576px) {
  .card-slider__text{
    margin-top: calc(190px + 2rem);
  }

  .slider__title {
    font-size: 1.5rem;
  }

  .card-slider__main-card {
    height: fit-content;
  }

  .card-slider__text{
    text-justify: inter-character;
  }
}

@keyframes main-card_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-slider__text {
  animation-name: main-card_animation;
  animation-duration: 0.5s;
}

.left-card__background,
.right-card__background {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.string {
  background: black;
  width: 60%;
  height: 1.5rem;
}

@keyframes left-card-anim {
  0% {
    z-index: 1;
    opacity: 1;
  }
  50% {
    transform: scaleY(120%) translateX(10%);
    opacity: 0;
  }
  51% {
    transform: scaleY(100%) translateX(0%);
    z-index: -1;
  }
  100% {
    opacity: 1;
  }
}

.card-slider__left-card {
  animation: left-card-anim;
  z-index: -1;
  animation-duration: 2s;
}

.card-slider__right-card {
  animation-duration: 0.75s;
  z-index: -1;
  animation-timing-function: linear;
}

@keyframes card-slider__right-card_anim_next {
  0% {
    z-index: 1;
  }

  100% {
    z-index: 1;
    transform: translateX(50%) translateY(10%) rotate(25deg) translateX(50%);
  }
}

@keyframes card-slider__right-card_anim_previous {
  0% {
    z-index: 1;
  }

  100% {
    z-index: 1;
    transform: translateX(-50%) translateY(-10%) rotate(-25deg) translateX(-50%);
  }
}

.card-slider__right-card_next {
  animation-name: card-slider__right-card_anim_next;
}

.card-slider__right-card_previous {
  animation-name: card-slider__right-card_anim_previous;
}

.card-slider__right-card_next > .right-card__background,
.card-slider__right-card_previous > .right-card__background {
  opacity: 1;
  z-index: -1;
}
 */
