.text-xxxl {
  font-size: 5.25rem;
}

.text-xxl {
  font-size: 3.75rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-l {
  font-size: 1.5rem;
}

.text-m {
  font-size: 1.375rem;
}

.text-s {
  font-size: 1.3rem;
}

.text-xs {
  font-size: 1.125rem;
}

.font-monts {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.bolder {
  font-weight: 600;
}

.bold {
  font-weight: 500;
}

h1,
h2 {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat";
}

h1 {
  font-size: 5.3rem;
}

h2 {
  font-size: 3.75rem;
}

/* .big-h span{
  white-space:nowrap;
} */

@media screen and (max-width: 992px) {
  .text-xxxl {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  .text-xxxl {
    font-size: 3rem;
  }
  
  .text-xxl {
    font-size: 3.75rem;
  }
  
  .text-xl {
    font-size: 2.25rem;
  }
  
  .text-l {
    font-size: 1.5rem;
  }
  
  .text-m {
    font-size: 1.375rem;
  }
  
  .text-s {
    font-size: 1.3rem;
  }
  
  .text-xs {
    font-size: 1.125rem;
  }

  h1{
    font-size: 5.3rem;
  }

  h2{
    font-size: 2.3rem;
  }
}


@media screen and (max-width: 576px) {

  .text-xxxl {
    font-size: 2.5rem;
  }
  
  .text-xxl {
    font-size: 2.55rem;
  }
  
  .text-xl {
    font-size: 1.95rem;
  }
  
  .text-l {
    font-size: 1.35rem;
  }
  
  .text-m {
    font-size: 1.275rem;
  }
  
  .text-s {
    font-size: 1.1rem;
  }
  
  .text-xs {
    font-size: 1.125rem;
  }

  h1{
    font-size: 5.3rem;
  }

  h2{
    font-size: 2.4rem;
  }
}

/* ///некоторые текстовые изменения */
.banner__annotation{
  line-height: 1.3;
}