.banner__title {
  font-size: 3.65rem;
}

.text-xxxl {
  font-size: 2.5rem;
}

.text-xxl {
  font-size: 2.375rem;
}

.text-xl {
  font-size: 2.25rem;
}

.text-l {
  font-size: 2rem;
}

.text-m {
  font-size: 1.5rem;
}

.text-s {
  font-size: 1.375rem;
}

.text-xs {
  font-size: 1.25rem;
}

.text-xxs {
  font-size: 1.125rem;
}

.text-xxxs {
  font-size: 1rem;
}

.bolder {
  font-weight: 700;
}

.bold {
  font-weight: 500;
}

h1,
h2 {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat";
}

h1 {
  font-size: 5.3rem;
}

h2 {
  font-size: 3.75rem;
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) and (min-width: 430px) {
  html {
    font-size: 16px;
  }

  /* ////// */

  .select{
    width: fit-content;
  }

  .select__content{
    font-size: 1rem;
    color: var(--blue);
  }

  .select__active{
    border-color: var(--blue);
  }

  .select__els{
    border-color: var(--blue);
  }

  /* ////// */

  .how-we-work__title{
    font-size: 1.5rem !important;
  }

  .roadmap__title{
    font-size: 0.875rem !important;
  }

  .roadmap__text{
    font-size: 0.75rem !important;
  }

  .roadmap__signs{
    font-size: 0.75rem !important;
  }

  .banner {
    white-space: nowrap;
  }

  .ticket__header{
    font-size: 1.5rem !important;
  }

  .ticket__text{
    font-size: 1.25rem !important;
  }

  .modal__annotation{
    font-size: 1rem !important;
  }

  .switch-small__btn {
    font-weight: 600;
  }

  .banner__title {
    margin-left: -10% !important;
    width: 120%;
    font-size: 2.25rem;
  }

  .banner__annotation {
    margin-left: -10% !important;
    width: 120%;
    font-size: 1.15rem !important;
  }

  .tab__header {
    white-space: nowrap !important;
    font-size: 1.25rem !important;
  }

  .bubble__body {
    white-space: nowrap;
  }

  .slider__text {
    font-size: 1.25rem !important;
  }

  .we-coped__title {
    white-space: nowrap;
    font-size: 1.5rem !important;
  }

  .we-coped__annotation {
    /* white-space: nowrap; */
    font-size: 1.25rem !important;
  }
  
  .footer__documents a {
    font-size: 0.8rem !important;
  }

  .text-xxxl {
    font-size: 1.75rem;
  }

  .text-xxl {
    font-size: 2.375rem;
  }

  .text-xl {
    font-size: 2.25rem;
  }

  .text-l {
    font-size: 1rem;
  }

  .text-m {
    font-size: 1.25rem;
  }

  .text-s {
    font-size: 1.375rem;
  }

  .text-xs {
    font-size: 1rem;
  }

  .text-xxs {
    font-size: 1.125rem;
  }

  .text-xxxs {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 5.3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .start-work__title {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 420px) and (min-width: 0px) {
  html {
    font-size: 3.5vw;
  }

  /* ////// */

  .select{
    width: fit-content;
  }

  .select__content{
    font-size: 1rem;
    color: var(--blue);
  }

  .select__active{
    border-color: var(--blue);
  }

  .select__els{
    border-color: var(--blue);
  }

  /* ////// */

  .how-we-work__title{
    font-size: 1.5rem !important;
  }

  .roadmap__title{
    font-size: 0.875rem !important;
  }

  .roadmap__text{
    font-size: 0.75rem !important;
  }

  .roadmap__signs{
    font-size: 0.75rem !important;
  }

  .banner {
    white-space: nowrap;
  }

  .ticket__header{
    font-size: 1.5rem !important;
  }

  .ticket__text{
    font-size: 1.25rem !important;
  }

  .modal__annotation{
    font-size: 1rem !important;
  }

  .switch-small__btn {
    font-weight: 600;
  }

  .banner__title {
    margin-left: -10% !important;
    width: 120%;
    font-size: 2.25rem;
  }

  .banner__annotation {
    margin-left: -10% !important;
    width: 120%;
    font-size: 1.15rem !important;
  }

  .tab__header {
    white-space: nowrap !important;
    font-size: 1.25rem !important;
  }

  .bubble__body {
    white-space: nowrap;
  }

  .slider__text {
    font-size: 1.25rem !important;
  }

  .we-coped__title {
    white-space: nowrap;
    font-size: 1.5rem !important;
  }

  .we-coped__annotation {
    /* white-space: nowrap; */
    font-size: 1.25rem !important;
  }
  
  .footer__documents a {
    font-size: 0.8rem !important;
  }

  .text-xxxl {
    font-size: 1.75rem;
  }

  .text-xxl {
    font-size: 2.375rem;
  }

  .text-xl {
    font-size: 2.25rem;
  }

  .text-l {
    font-size: 1rem;
  }

  .text-m {
    font-size: 1.25rem;
  }

  .text-s {
    font-size: 1.375rem;
  }

  .text-xs {
    font-size: 1rem;
  }

  .text-xxs {
    font-size: 1.125rem;
  }

  .text-xxxs {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 5.3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .start-work__title {
    font-size: 2.5rem !important;
  }
}