:root{
    --blue: #577BFA;
    --light-blue: #849FFF;
    --turq: #A4DBF8;
    --black: #303436;
    --grey: #D8E2E7;
    --red: #F53F4A;
    --green: #48C95F;
    --white: #FAFAFB;
    --light-grey: #E5EBEE;
}