.select {
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: fit-content;
  position: relative;
  width: 7.5em;
  height: fit-content;
}

.select__active{
  text-align: left;
  border-radius: 30px;
  padding: 0.5rem 1.5rem 0.5rem 1.1rem;
  color: var(--blue);
  left: 0;
  width: 100%;
  height: fit-content;
  border: 2px solid var(--blue);
}

.select__active_shown{
  border-radius: 30px;
  left: 0;
  width: 100%;
  height: fit-content;
  border-bottom-color: transparent !important;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__els {
  text-align: left;
  position: absolute;
  left: 0;
  width: 100%;
  border: 2px solid var(--blue);
  border-top: 0 !important;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.select__els_hidden {
  display: none;
}

.select__el {
  transition: 0.25s;
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 1.1rem;
}

/* .select__el::after {
  content: "";
  position: absolute;
  transform-origin: left;
  height: 5px;
  background-size: 0%;
  background-position: left center;
  bottom: 5px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/header/selectString1.svg");
  transition: 0.2s linear;
}

.select__el:nth-child(1)::after {
  left: 1.5rem;
  width: 100px;
  background-image: url("../../../assets/images/header/selectString1.svg");
}

.select__el:nth-child(2)::after {
  left: 1.5rem;
  width: 70px;
  background-image: url("../../../assets/images/header/selectString2.svg");
}

@keyframes select__el_anim {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
} */

.select__el:hover {
  color: var(--blue);
}
