.select {
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: fit-content;
  position: relative;
  width: 9em;
  height: fit-content;
}

.select__content_hidden {
}

.select__content_shown {
 
}

.select__active{
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  left: 0;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--black);
}

.select__active_shown{
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  left: 0;
  width: 100%;
  height: fit-content;
  border-bottom-color: transparent !important;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__els {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid var(--black);
  border-top: 0 !important;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.select__els_hidden {
  display: none;
}

.select__el {
  position: relative;
  padding: 0.5rem 1.5rem;
}

.select__el::after {
  content: "";
  position: absolute;
  transform-origin: left;
  height: 5px;
  background-size: 0%;
  background-position: left center;
  bottom: 5px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/header/selectString1.svg");
  transition: 0.2s linear;
}

.select__el:nth-child(1)::after {
  left: 1.5rem;
  width: 100px;
  background-image: url("../../../assets/images/header/selectString1.svg");
}

.select__el:nth-child(2)::after {
  left: 1.5rem;
  width: 70px;
  background-image: url("../../../assets/images/header/selectString2.svg");
}

@keyframes select__el_anim {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.select__el:hover:after {
  animation-name: select__el_anim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
