.roadmap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes roadmap__list_animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes roadmap__main_animation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.roadmap__list {
  animation-name: roadmap__list_animation;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  top: -100%;
  animation-fill-mode: forwards;
  z-index: 1;
  width: 70%;
  height: 70%;
  right: 5%;
  position: absolute;
  box-shadow: -5px 5px 5px 1px var(--grey);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.roadmap__main {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation-name: roadmap__main_animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  bottom: -100%;
  width: 78%;
  height: 85%;
  left: 0%;
  position: absolute;
}

.roadmap__logo{
  width: 45px;
  height: 37px;
}

.roadmap__strokes{
  width: 100%;
}

.roadmap__stroke {
  width: 100%;
  height: 0.5em;
  background-color: var(--grey);
  border-radius: 40px;
}

.roadmap__stroke:nth-child(2) {
  width: 50%;
}


@keyframes sign_animation {
  0%{
    stroke-dasharray: 0;
    fill: none;
  }
  100%{
    stroke-dasharray: 1000;fill: none;
    stroke: #fff;
  }
}

#roadmap__sign{
  animation-name: sign_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.roadmap__sign, .roadmap__name{
  width: fit-content;
  /* font-size: 14px; */
}

/* .roadmap__sign{
  filter: url(../../../assets/images/roadmap/signBg.svg) !important;
} */

.roadmap__name{
  color: var(--blue);
  white-space: nowrap;
}

@keyframes roadmap__text_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--blue);
  }
  100% {
    opacity: 1;
    color: var(--black);
  }
}

@keyframes becomeInvisible {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes roadmap__circle_border_animation {
  0% {
    opacity: 0;
    transform: rotate(0);
    border-top-color: var(--blue);
    border-right-color: var(--blue);
  }
  100% {
    opacity: 1;
    border-left-color: var(--blue);
    transform: rotate(360deg);
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
    border-right-color: var(--blue);
  }
}

@keyframes roadmap__circle_arrow_animation {
  0% {
    background-color: var(--grey);
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: transparent;
    background-image: url("../../../assets/icons/arrowDownBlue.png");
  }
}

@keyframes roadmap__key_animation {
  0% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}

.roadmap__step {
  height: 2rem;
  margin-top: 1rem;
  position: relative;
}

.roadmap__step::after {
  animation-name: roadmap__key_animation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--blue);
  left: 15px;
  top: 100%;
}

.roadmap__circle {
  flex-basis: 32px;
  height: 32px;
  position: relative;
}

.roadmap__circle::after {
  animation-name: roadmap__circle_border_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border: 2px solid transparent;
}

.roadmap__circle::before {
  animation-name: roadmap__circle_arrow_animation;
  animation-duration: 6000ms;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  left: 1.5px;
  top: 1.5px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center 54%;
}

.roadmap__text {
  height: 100%;
  position: relative;
  margin-left: 16px;
  flex-basis: calc(100% - 48px);
}

.roadmap__text::after {
  animation-name: roadmap__text_animation;
  animation-duration: 2s;
  color: transparent;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 1em;
  left: 0;
  top: calc(50% - 0.5em);
  content: "";
}

.roadmap__text::before {
  animation-name: becomeInvisible;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 1em;
  top: calc(50% - 0.5em);
  background-color: var(--grey);
  border-radius: 40px;
}

@media screen and (max-width: 576px) {
  .roadmap__sign{
    width: 50%;
    height: 100%;
  }

  .roadmap__list{
    box-shadow: 0px 0px 10px 1px var(--grey);
    right: 3%;
    width: 65%;
  }

  .roadmap__main{
    left: 3%;
    width: 65%;
  }

  .roadmap__logo{
    width: 36px;
    height: 29px;
  }
}
