.background{
  width: 100vw;
  position: absolute !important;
  top: 0;
  height: 100% !important;
  overflow: hidden !important;
  left: calc(calc(100vw - 100%) / -2);
  z-index: -1;
}

.gradient-1,
.gradient-2,
.gradient-3,
.gradient-4,
.gradient-5,
.gradient-6,
.gradient-7,
.gradient-8,
.gradient-9 {
  opacity: 0.75;
  position: absolute;
}

.gradient-1 {
  width: 800px;
  height: 800px;
}

.gradient-2 {
  width: 1400px;
  height: 1400px;
}

.gradient-3 {
  width: 600px;
  height: 600px;
}

.gradient-4 {
  width: 800px;
  height: 800px;
}

.gradient-5 {
  width: 500px;
  height: 500px;
}

.gradient-6 {
  width: 1500px;
  height: 1500px;
}

.gradient-7 {
  width: 1200px;
  height: 1200px;
}

.gradient-8 {
  width: 1400px;
  height: 1400px;
}

.gradient-9 {
  width: 1000px;
  height: 1000px;
}

@media screen and (min-width: 1550px) {
  .gradient-1 {
    top: 3%;
  }

  .gradient-2 {
    top: 0;
    left: 70%;
  }

  .gradient-3 {
    top: 26%;
    left: 10%;
  }

  .gradient-4 {
    top: 27%;
    left: 50%;
  }

  .gradient-5 {
    top: 34%;
    left: 5%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: -30%;
  }

  .gradient-8 {
    top: 75%;
    left: -40%;
  }

  .gradient-9 {
    top: 80%;
    left: 70%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1550px) {
  .gradient-1 {
    top: 3%;
    left: -25%;
  }

  .gradient-2 {
    top: 0;
    left: 60%;
  }

  .gradient-3 {
    top: 24%;
    left: 2%;
  }

  .gradient-4 {
    top: 25%;
    left: 50%;
  }

  .gradient-5 {
    top: 34%;
    left: 3%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: 50%;
  }

  .gradient-8 {
    top: 82%;
    left: -40%;
  }

  .gradient-9 {
    top: 85%;
    left: 60%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .gradient-1 {
    top: 3%;
    left: -25%;
  }

  .gradient-2 {
    top: 0;
    left: 60%;
  }

  .gradient-3 {
    top: 24%;
    left: 2%;
  }

  .gradient-4 {
    top: 25%;
    left: 50%;
  }

  .gradient-5 {
    top: 34%;
    left: 3%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: 50%;
  }

  .gradient-8 {
    top: 82%;
    left: -40%;
  }

  .gradient-9 {
    top: 85%;
    left: 60%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .background {
    height: 9931px;
  }

  .gradient-1 {
    top: 3%;
  }

  .gradient-2 {
    top: 0;
    left: 60%;
  }

  .gradient-3 {
    top: 27%;
    left: -5%;
  }

  .gradient-4 {
    top: 26%;
    left: 50%;
  }

  .gradient-5 {
    top: 36%;
    left: -5%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: 50%;
  }

  .gradient-8 {
    top: 80%;
    left: -70%;
  }

  .gradient-9 {
    top: 80%;
    left: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .gradient-1 {
    top: 3%;
  }

  .gradient-2 {
    top: 0;
    left: 60%;
  }

  .gradient-3 {
    top: 27%;
    left: -5%;
  }

  .gradient-4 {
    top: 26%;
    left: 50%;
  }

  .gradient-5 {
    top: 36%;
    left: -5%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: 50%;
  }

  .gradient-8 {
    top: 80%;
    left: -70%;
  }

  .gradient-9 {
    top: 80%;
    left: 60%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .gradient-1 {
    top: 3%;
  }

  .gradient-2 {
    top: 0;
    left: 60%;
  }

  .gradient-3 {
    top: 27%;
    left: -5%;
  }

  .gradient-4 {
    top: 26%;
    left: 50%;
  }

  .gradient-5 {
    top: 36%;
    left: -5%;
  }

  .gradient-6 {
    top: 47%;
    left: 75%;
  }

  .gradient-7 {
    top: 63%;
    left: 50%;
  }

  .gradient-8 {
    top: 80%;
    left: -70%;
  }

  .gradient-9 {
    top: 80%;
    left: 60%;
  }
}

@media screen and (max-width: 576px) {
  .background {
    opacity: 0.75 !important;
  }

  .gradient-1 {
    top: 2%;
    left: -90%;
  }

  .gradient-2 {
    top: 3%;
    left: 20%;
  }

  .gradient-3 {
    top: 20%;
    left: 70%;
  }

  .gradient-4 {
    top: 25%;
    left: 50%;
  }

  .gradient-5 {
    top: 36%;
    left: 50%;
  }

  .gradient-6 {
    top: 47%;
    left: -200%;
    opacity: 0.5;
  }

  .gradient-7 {
    top: 60%;
    left: 70%;
  }

  .gradient-8 {
    top: 80%;
    left: 50%;
  }

  .gradient-9 {
    top: 83%;
    left: -30%;
  }
}
