.switch-small__btn {
  /* font-size: 1.1rem !important; */
  padding: 0;
  border: none;
  border-radius: 30px;
  color: var(--blue);
}

.switch-small__btn_inactive {
  border: 2px solid var(--blue);
  background: transparent;
  width: 40px;
  height: 40px;
}

@keyframes switch-small__btn_anim {
  0% {
    color: var(--white);
    background: var(--white);
    flex-grow: 0;
  }

  69%{
    color: var(--blue);
  }

  70%{
    background: var(--blue);
  }

  100% {
    background: var(--blue);
    color: var(--white);
    flex-grow: 0.8;
  }
}

.switch-small__btn_active {
  flex-basis: 170px;
  border: 2px solid var(--blue);
  height: 40px;
  animation-name: switch-small__btn_anim;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

/* /////// */
.switch {
  /* width: fit-content; */
}

.switch__btn {
  border-radius: 40px;
  font-weight: 600;
  /* margin-left: 2.5rem; */
  position: relative;
  width: 23.75rem;
  padding: 0.75rem 0;
  border: none;
  color: var(--blue);
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .switch__btn {
    width: 95%;
  }
}

@media screen and (max-width: 992px) {
  .switch__btn {
    margin-left: 0rem;
  }
}

.switch__btn_inactive {
  color: #acc0f4 !important;
}

/* ///switch__animation */
.switch__svg {
  z-index: -1;
  position: absolute;
  width: 100.5%;
  height: 102%;
  left: -0.25%;
  top: -1%;
  overflow: visible;
}

.switch__rect {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3px;
  stroke: var(--blue);
}

.switch__btn .switch__rect_bg {
  opacity: 0.3;
}

.switch__rect_anim {
  opacity: 0;
}

@keyframes switch__rect_anim {
  0% {
    stroke-dasharray: 0 1000;
  }
  90% {
    stroke-dasharray: 1000 1;
  }
  100% {
    stroke-dasharray: 0 1000;
  }
}

.switch__btn_active {
  background: var(--blue);
  color: var(--white);
  transition: 0.5s;
}

.switch__btn_active .switch__rect_anim {
  opacity: 1;
  stroke-dashoffset: 0;
  animation-name: switch__rect_anim;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 15000ms;
}

.switch__btn:first-child {
  margin-left: 0;
}
