@keyframes banner__stroke_anim {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

.banner__stroke {
  display: inline-block;
  position: relative;
}

.banner__stroke::after {
  animation-name: banner__stroke_anim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  /* background-image: url("../../assets/images/banner/bannerStorke.svg"); */
  height: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: calc(50% - 100px);
  bottom: -5px;
}

.banner__highlight{
  vertical-align: middle;
  padding: 0.8rem 0.6rem 0.7rem 0.6rem;
  border: 2px solid var(--blue);
  border-radius: 8px;
  width: fit-content;
  margin: 8rem auto 2rem auto;
  font-size: 1rem;
  color: var(--blue);
}

.banner {
  margin-top: 16.5rem;
}

.banner__title{
  white-space: nowrap;
}

.banner__annotation {
  margin-top: 4rem;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .banner {
    margin-top: 30rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .banner {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    margin-top: 0rem;
  }

  .banner__text {
    text-transform: uppercase !important;
  }
}
