@media (min-width: 1200px)and (max-width: 1500px) {
  .service__block_second{
    margin-left: -8rem !important;
  }
}

.get-service {
  position: relative;
  overflow-x: hidden;
}

/* ///// */
.service__title {
  margin-top: -0.2em;
}

.service__text {
  width: calc(100% - 140px);
}

.man-hand {
  margin-top: -5%;
  margin-left: -2%;
}

.arrow-long {
  margin-top: -18%;
  margin-left: 2rem;
  background-image: url("../../assets/images/getService/arrowLong.svg");
  background-size: 100% !important;
  width: 580px;
  height: 375px;
  background-repeat: no-repeat;
}

.arrow-dotted {
  margin-left: 4rem;
  background-image: url("../../assets/images/getService/arrowDotted.svg");
  background-size: 100% !important;
  width: 580px;
  height: 175px;
  background-repeat: no-repeat;
}

.service__block_second {
  margin-top: -75px;
  margin-right: -110px;
}

.service__block_third {
  margin-top: -75px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .arrow-long {
    width: 475px;
    height: 300px;
  }

  .arrow-dotted {
    width: 500px;
    height: 150px;
  }

  .service__block_second {
    margin-top: -75px;
    margin-right: -90px;
  }
}

@media screen and (max-width: 992px) {
  .service__block_second,
  .service__block_third {
    margin-top: unset;
    margin-right: unset;
  }
}

@media screen and (max-width: 576px) {
  .service__title {
    font-size: 2.2rem;
  }

  .service__annotation {
    font-size: 1.5rem;
  }

  .service__text {
    width: 100%;
  }
}


