.tab {
  margin-top: 3rem;
}

.tab:first-child {
  margin-top: 0;
}

.tab__cover {
  padding: 1.5rem 2.5rem 1.5rem 4.75rem;
  transition: color 0.25s;
}

.tab_opened > .tab__cover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--blue);
}

.tab__text {
  z-index: -1;
  position: relative;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.tab__text_opened {
  transition: opacity 0.5s;
  opacity: 1;
  padding: 1.5rem 2.5rem 3rem 4.75rem;
}

.tab__text_closed {
  height: 0;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .tab__cover {
    padding: 1rem 2rem;
  }

  .tab__text_opened {
    padding: 1rem 2rem 3rem 2rem;
  }
}

@media screen and (max-width: 992px) {
  .tab__cover {
    padding: 1rem 3rem;
  }

  .tab__text_opened {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 576px) {
  .tab__cover {
    padding: 1rem 2rem;
    border-radius: 30px;
  }

  .tab__text_opened {
    padding: 1rem 2rem 3rem 2rem;
  }

  .tab {
    margin-top: 2rem;
  }
}

/* /// cross */
/* .tab__cross {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab__cross > .stick {
  background-color: var(--black);
  width: 25px;
  height: 4px;
  border-radius: 10px;
  margin-top: 15px;
  transition: transform 0.5s, background-color 0.25s;
}

.tab__cross:hover > .stick {
  background-color: var(--blue);
}

.tab__cross_check > .stick:nth-child(1) {
  transform-origin: right;
  transform: translateX(1px) rotate(45deg);
}

.tab__cross_check > .stick:nth-child(2) {
  transform-origin: left;
  transform: translateX(-1px) rotate(-45deg);
}

.tab__cross_cross > .stick:nth-child(1) {
  transform-origin: right;
  transform: translateX(9px) rotate(45deg);
}

.tab__cross_cross > .stick:nth-child(2) {
  transform-origin: left;
  transform: translateX(-9px) rotate(-45deg);
} */
