.we-coped {
}

@keyframes we-coped__text_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.we-coped__block {
  width: 50%;
  height: fit-content;
  position: absolute;
  left: calc(52% + 4rem);
}

.we-coped__text {
  animation-name: we-coped__text_animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.we-coped__title {
  font-size: 2rem;
}

.we-coped__body {
  height: 100%;
}

@media screen and (max-width: 1550px) {
  .we-coped__block {
    width: 45%;
  }
}


@media screen and (max-width: 1200px) {
  .we-coped__block {
    position: inherit;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .we-coped__block {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .we-coped__title {
    /* font-size: 1.5rem; */
  }
}



