.footer {
  padding-top: 15rem;
  padding-bottom: 15rem;
  position: relative;
}

.footer::after {
  opacity: 1;
  content: "";
  z-index: -1;
  position: absolute;
  left: calc(calc(100% - 100vw) / 2);
  bottom: 0;
  width: 100vw;
  height: 1700px;
  background: linear-gradient(
    358.27deg,
    #577bfa 10%,
    rgba(164, 219, 248, 0) 70%
  );
}



.footer a {
  color: var(--white) !important;
  text-decoration: none !important;
}

.footer a:hover {
  color: var(--white);
  text-decoration: none !important;
}

@media screen and (max-width: 576px) {
  .footer {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }

  .footer__phone {
    border: 3px solid var(--white);
    border-radius: 40px;
    padding: 1rem;
    text-align: center;
  }

  .footer__documents {
    margin-top: 4rem;
  }

  .footer__logo{
    width: 110%;
  }
}

/* .footer {
  width: 1218px;
}

@media screen and (min-width: 1400px) and (max-width: 1550px) {
  .footer {
    width: 1350px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .footer {
    width: 1200px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer {
    width: 992px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer {
    width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    width: 100vw;
  }

  .footer {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
} */

@media screen and (max-width: 576px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}



