.cookie{
  position: absolute;
  background: var(--white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 120px;
  bottom: 0;
  z-index: 1000;
}

.cookie__learn-more{
  color: var(--blue) !important;
}

.cookie__learn-more:hover{
  color: var(--light-grey) !important;
}

.cookie__text{
  /* white-space:initial !important; */
}

@media screen and (min-width: 992px) {
  .cookie{
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}