.card {
  height: fit-content;
  transition: height 1s;
  border: none;
}

.card__header {
  min-height: 3em;
}

.card__header p {
  margin-bottom: 0;
  white-space: nowrap;
}

.card__header{
  white-space: nowrap;
  font-size: 32px;
}

.card__text {
  white-space: nowrap;
  height: 3em;
}

.card__price {
  font-size: 3.125rem;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.card__annotation {
  transition: all 3s;
}

.card__annotation_closed {
  opacity: 0;
}

.card__annotation_shown {
  animation-name: anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 576px) {
  .card{
    font-size: 0.6rem;
  }
  .card__header {
    font-size: 3em !important;
  }

  .card__text {
    font-size: 2em !important;
  }

  .card__price{
    font-size: 4em !important;
  }

  .card__button{
    font-size: 2em !important;
  }

  .card__show{
    font-size: 2em !important;
  }
}
